/*
font-family: Hoefler Text;
font-family: Abel; 


*/

html,body{
	margin:0;
	width:100%;
	height:100%;
	/*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
	/*background: linear-gradient(#0fb8ad, #2cb5e8);*/
	background-color:#0fb8ad;
	box-sizing: border-box;
}

a{
	text-decoration: underline;
	color:white;

}


h1{
	margin:0;
	font-size:144px;
	font-weight:bold;
	font-family: Hoefler Text;
}
h2{
	margin:0;
	font-size:120px;
	font-weight:bold;
	font-family: Hoefler Text;
}

h3{
	margin:0;
	font-size:36px;
	font-weight: normal;
	font-family: Hoefler Text;
}

h4{
	margin:0;
	font-size:24px;
	font-weight:bold;
	font-family: Hoefler Text;
}
h5{
	margin:0;
	font-size:24px;
	font-weight:normal;
	font-family: Hoefler Text;
}
h6{
	margin:0;
	font-size:20px;
	font-family: Hoefler Text;
	padding:5px 0px 5px 0px;
}

p{
	margin:0;
	padding:5px 0px 5px 0px;
	font-size:14px;
	font-family: Abel, sans-serif; 
}


.container{
	width:100%;
	height:100%;
	min-height: 100%;
	padding:20px 20px 20px 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	color:white;
	box-sizing: border-box;
	/*flex-wrap: wrap;*/
}

.pad5{
	padding-right:5px;
}

header{
	width: 100%;
	height:auto;
  min-height: 150px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.title{
	flex-basis:25%;
	padding-right:10px;
}
.hashtags{
	flex-basis:25%;
}

main{
	width:100%;
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
}

section{
	display: flex;
	width:100%;
	/*height:100%;*/
}

section.first{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	width:100%;
	min-height:90vh;
}

section.second{
	width:100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	padding-bottom: 40px;
	margin-top: 40px;
}

.info{
	display: flex;
	flex-direction: column;
	width:25%;
	padding-bottom: 40px;
}
.info-header{
	width:100%;

}
.info-header hr{
		border: 0;
    height: 4px;
    background: white;
}

.info-content{
	display: flex;
	flex-direction: column;
}

.info-chart{
	display: flex;
	flex-direction: column;
	width:100%;
	min-height: 250px;
	justify-content: flex-start;
	align-items: flex-start;
	padding-bottom: 20px;
}

.info-chart h6{
	padding-top: 10px;
	min-height:40px;
}
.chart-container{
	width:100%;
	/*height:100%;*/
	border:2px solid white;
	height:250px;
	box-sizing: border-box;
}


.featured-projects{
	position: relative;
	display: flex;
	flex-direction: column;
	width:75%;
	height:100%;
}

.project-info{
	width:30%;
	height:100%;
	padding:10px;
	background-color: #0fb8ad;
	position: absolute;
	top:0;
	right:0;
}

.feature-swiper{
	width: 100%;
	min-height:100%;
	height:60vh;
}
.swiper-container {
    width: 100%;
    /*height: 300px;*/
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  .project-image{
  	background-repeat: no-repeat;
  	background-position: left; 
	 background-size:auto  100% ;
    width:100%;
    height:100%;
  }
  .gallery-top {
    height: 70%;
    width: 100%;
  }
  .gallery-thumbs {
    height: 25%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide-active {
    opacity: 1;
  }


   #assignment-beat{
   	display: flex;
   	flex-direction: column;
   	justify-content: center;
   	align-items: center;
   	min-height: 250px;
   }

  #assignment-beat img{
  	width:100%;
  	height:auto;
  }

     #locations{
   	display: flex;
   	flex-direction: column;
   	justify-content: center;
   	align-items: center;
   }

  #location-image{
  	width:100%;
  	height:100%;
  	/*background-size: cover;*/
    /*background-position: center;
    background-repeat: no-repeat;
    background-size:auto  100% ;*/
  }

footer{
	position: static;
  bottom: 0;
	width: 100%;
	min-height:60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	color:white;
	border-top: 4px solid white;
	padding:10px 0px 10px 0px;
}


  @media screen and (max-width: 1000px){
  	section.first{
  		flex-direction: column;
  	}
  	.info, .info-content, .info-chart {
  		width:100%;
  		height: 100%;
  	}
  	.info-content h6{
  		margin-top:20px;
  	}

  	.featured-projects{
  		width:100%;
  		min-height:80vh;
  	}

  	.project-info{
			width:100%;
			height:auto;
			padding:10px;
			background-color: #0fb8ad;
			position: absolute;
			top:auto;
			bottom:0;
			left:0;
		}

  	section.second{
  		flex-direction: column;
  	}

  	footer{
  		flex-direction: column;
  	}

  	header{
			flex-direction:column;
			min-height:260px;
			justify-content: flex-start;
			align-items: flex-start;

  	}
  	
  }